---
const base = import.meta.env.BASE_URL;
---

<header class="w-48 flex flex-col gap-6 px-4 py-12 h-screen sticky top-0">
  <a href={`${base}`} class="text-xl text-zinc hover:text-green-300">About</a>
  <a href={`${base}cv`} class="text-xl text-zinc hover:text-green-300">CV</a>
  <a href={`${base}projects`} class="text-xl text-zinc hover:text-green-300"
    >Projects</a
  >
  <a href={`${base}interests`} class="text-xl text-zinc hover:text-green-300"
    >Interests</a
  >
  <a href={`${base}blog`} class="text-xl text-zinc hover:text-green-300">Blog</a
  >
</header>
